@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap');

nav{
    font-family: "Playwrite CO", cursive;
    width: 100%;
    color: rgb(43, 36, 41);

    padding-left: 20px;
}